doctype html
html
  head
    title="Mulligan By Design's"

    // Viewport mobile tag for sensible mobile support
    meta(name="viewport",content="width=device-width, initial-scale=1, maximum-scale=1")

    block styles
    link(href='/styles/uikit.almost-flat.css', rel='stylesheet')
    link(href='/styles/bjqs.css', rel='stylesheet')
    link(href='/styles/addons/uikit.almost-flat.addons.css', rel='stylesheet')
    link(href='/styles/style.css', rel='stylesheet')
  body
    block body

    // A few key dependencies, linked in order
    script(type="text/javascript", src="/js/jquery.js")
    script(type="text/javascript", src="/js/mulligan.js")
    script(type="text/javascript", src="/js/uikit.js")
    script(type="text/javascript", src="/js/bjqs.js")
    script(type="text/javascript", src="/js/addons/sticky.js")
    // Bring in the socket.io client
    script(type="text/javascript", src="/js/socket.io.js")

    // then beef it up with some convenience logic for talking to Sails.js'
    script(type="text/javascript", src="/js/sails.io.js")

    // listen on socket.io for incoming messages
    script(type="text/javascript", src="/js/app.js")
