extends ../layout


block body
  nav.uk-navbar.uk-navbar-attached(data-uk-sticky)
    a.uk-navbar-brand(href="#") Mulligan By Design's
    ul.uk-navbar-nav.uk-hidden-small.uk-float-right(data-uk-scrollspy-nav="{closest:'li', smoothscroll:true}")
      li
        a(href="#aboutUs") About Us
      li
        a(href="#whatWeDo") What We Do
      li(data-uk-dropdown)
        a(href="#gallery") Gallery
        .uk-dropdown
          ul.uk-nav.uk-nav-navbar#galleryDropdown
      li: a(href="#hireUs") Hire Us
    a.uk-navbar-toggle.uk-visible-small.uk-float-right(href="#sideNav",data-uk-offcanvas)
  .md-header
    .uk-container.uk-container-center.md-container
      .uk-width-medium-4-5.uk-container-center
        #md-slideshow.uk-panel-box
          ul.bjqs
           li: img(src="images/slides/banner01.jpg", title="Caption")
           li: img(src="images/slides/banner06.jpg", title="Caption")
           li: img(src="images/slides/banner02.jpg", title="Caption")
           li: img(src="images/slides/banner04.jpg", title="Caption")
  .md-content
    .uk-container.uk-container-center.md-container
      .uk-width-1-1(data-uk-scrollspy="{cls:'uk-animation-fade', repeat: true}")
        h1.uk-text-center#aboutUs About Us
        p.uk-clearfix
          img.md-circle.uk-border-circle.uk-align-medium-left.uk-hidden-small(src="images/mattnchris.jpg")
          | Mulligan DeSIGNs is the brain child of Matthew and Christine Mulligan, both creative artists who needed an outlet for their talents.  As evidenced in the gallery, they have not focused on one area of art; their talents are multifaceted and they will continue to venture into currently unexplored forms of expression in the future.  Matthew and Christine have no formal training.  They are completely self-taught.  They initially started this business to help support their 7 children.  In order for Christine to be able to stay at home while the children were young, they supplemented their income by taking on small side jobs.  These small jobs, were, at times, the reason they were able to keep food on the table and shoes on growing feet.
        p.uk-clearfix
          | The main goal of Mulligan DeSIGNs is to bring the things you dream of to life.  Matthew and Christine will work directly with you to create that perfect fit, not only for your home but for your budget as well.  Whether it’s a custom cake for a special day, a garden sculpture to liven up your landscape, designs for your child’s fantasy bedroom or even that beautiful kitchen you have always dreamed of cooking family meals in, Mulligan DeSIGNs can do it all!  Each and every item you see on this site was designed and hand crafted by the Mulligans in their private workshop.
        p.uk-clearfix
          | So thank you for coming to the site and taking a look to see what they have to offer.  You will find a wide variety of items to fit your unique needs and desires.  When you are ready to proceed, feel free to use the “contact us” feature and Matthew or Christine will be happy to help you design and create your personal project.
        blockquote
          p
            i.uk-icon-quote-left.uk-icon-large.align-left   Testemonial from client that says there honest opinion about your services.
          small Awesome Client
        hr.uk-grid-divider#whatWeDo
        h1.uk-text-center
          | We
          i.uk-icon-heart
          |  What We Do
        h3.uk-h2.uk-text-center and so will you
        hr.uk-grid-divider
        .uk-width-1-1.uk-clearfix
          mixin whatWeDoTeaser(imageUrl, text, extraClass, animation)
            .uk-width-medium-1-3.uk-float-left(class=extraClass)
              figure.uk-overlay-toggle
                .uk-panel.uk-panel-box.uk-margin-left.uk-margin-right.uk-overlay(data-uk-scrollspy="{cls:'uk-animation-#{animation}', repeat: true}")
                  .uk-panel-teaser
                    img(src=imageUrl, alt="teaser")
                    figcaption.uk-text-center.uk-h3
                      = text
                    a(href="#").uk-overlay-area
                      .uk-overlay-area-content
                        i.uk-icon-picture-o.md-icon-extra-large
          +whatWeDoTeaser("images/slides/banner04.jpg", "Create your dream bedroom set", "", "slide-left")
          +whatWeDoTeaser("images/gallery/Cakes/1339874946035.jpg", "Special occasions call for special cakes, let us create a cake you will never forget.", "", "slide-top")
          +whatWeDoTeaser("images/slides/banner02.jpg", "Bring your dream kitchen to life", "", "slide-right")
        hr.uk-grid-divider#gallery
        h1.uk-text-center Gallery
        #galleryTopFive.uk-width-1-1.uk-clearfix
        hr.uk-grid-divider#hireUs
        h1.uk-text-center Hire us!
        hr.uk-grid-divider
        .uk-width-1-1.uk-clearfix
          h2.uk-text-center Request a quote
          form.uk-form.uk-form-stacked.uk-form-horizontal
            .uk-grid
              .uk-width-small-1-2.uk-float-left
                .uk-form-row.uk-width-1-1
                  label.uk-form-label(for="fullNameInput") Hi, my names
                  .uk-form-controls
                    input.uk-width-1-1#fullNameInput(type="text", placeholder="Full name")
                .uk-form-row.uk-width-1-1
                  label.uk-form-label(for="phoneNumberInput") and you can call me at
                  .uk-form-controls
                    input.uk-width-1-1#phoneNumberInput(type="text", placeholder="Phone number")
                .uk-form-row.uk-width-1-1
                  label.uk-form-label(for="emailInput") or email me at
                  .uk-form-controls
                    input.uk-width-1-1#emailInput(type="text", placeholder="Email")
                .uk-form-row.uk-width-1-1
                  label.uk-form-label(for="categoryInput") I want you to work on
                  .uk-form-controls
                    select.uk-width-1-1#categoryInput
                .uk-form-row.uk-width-1-1
                  label.uk-form-label(for="budgetInput") My budget is around
                  .uk-form-controls
                    input.uk-width-1-1#budgetInput(type="text", placeholder="Budget")
              .uk-width-1-2.uk-hidden-small.uk-float-right
                  i.uk-icon-user.uk-icon-large
            .uk-form-row.uk-width-1-1.uk-margin
              label.uk-form-label(for="describeInput") What i want is
              .uk-form-controls
                textarea.uk-width-1-1#describeInput(type="textarea", placeholder="please go into details as vivid as possible")

  .md-footer(data-uk-scrollspy="{   cls:'uk-animation-slide-bottom', repeat: true}")
    .uk-container.uk-container-center.md-container
      .uk-width-medium-1-2.uk-push-1-4
        h1.uk-h2.uk-text-center Website Designed and Developed by
        a(href="https://www.teknologenie.com").teknologenie-logo
          img(src="images/teknologenie.png")
        h1.uk-h2.uk-text-center Undergoing Construction until 4/10/2014

  #sideNav.uk-offcanvas
    .uk-offcanvas-bar
      ul.uk-nav.uk-nav-offcanvas
        li
          a(href="#aboutUs") About Us
        li
            a(href="#whatWeDo") What We Do
        li(data-uk-dropdown)
            a(href="#gallery") Gallery
            .uk-dropdown
                ul.uk-nav.uk-nav-navbar#galleryDropdown
        li: a(href="#hireUs") Hire Us