@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(http://themes.googleusercontent.com/static/fonts/pacifico/v5/yunJt0R8tCvMyj_V4xSjafesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}

@font-face {
  font-family: 'Arimo';
  font-style: normal;
  font-weight: 400;
  src: local('Arimo'), url(http://themes.googleusercontent.com/static/fonts/arimo/v6/wZLYhRRxZWGToTRP78bqJQ.woff) format('woff');
}

.md-container {
	margin-top: 50px;
	margin-bottom: 70px;
}

p , a{
	font: 16px 'Arimo', Verdana, Helvetica, sans-serif;
}
h1 {
	font-size: 75px;
	line-height: 75px;
}
h3 {
	margin-top: 0px;
}
h1, h3 {
	color: #224455;
	font-family: 'Pacifico', Georgia, serif;
	text-shadow: 2px 2px 4px rgba(0,0,0,0.3); 
}
.uk-navbar-brand {
	font: 25px 'Pacifico', Georgia, serif;
	text-shadow: 0 0px 2px rgba(0,0,0,0.3);
	color: #224455;
}
.uk-navbar {
	z-index: 2;
	width: 100% !important;
}

#describeInput {
	min-height: 150px;
}
.md-header {
    height: auto;
    overflow: hidden;
    background-image: url(../images/header.png);
    background-position:bottom center;
    background-size:cover;
    background-repeat:no-repeat;
    border-bottom: black;
    box-shadow: 0px 1px 10px black;
}
#gallery {
    position: relative;
}
.md-footer h1 {
    margin-top: 10px !important;
    margin-bottom: 0px  !important;
    color: #fafafa !important;
}
.teknologenie-logo {
    max-width: 500px;
}
.md-slider {
	height: 420px;
	overflow:hidden;
}

.md-circle {
	height: 150px;
	width: 150px;
}

.md-icon-extra-large {
	font-size: 75px;
}

.md-footer {
	background-color: #224455;
    margin-bottom: -70px;
}

.favorite-thumb {
    max-height: 200px;
}

@media (max-width: 767px) {
	.md-container {
		padding: 10px;
	}
    h1 {
    	font-size: 45px;
    	line-height: 45px;
    }
    .favorite-thumb {
        max-height: 100% !important;
    }
}

